#date-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#date-form img {
  width: 50%;
  min-width: 300px;
  border-radius: 20px;
}

#chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#chat button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.chat-window {
  width: 400px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.chat-messages {
  flex: 1;
  overflow: auto;
  padding: 10px;
}

.chat-messages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-messages li {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 20px;
  width: fit-content;
  max-width: 250px;
}
.chat-messages li.answer {
  background-color: burlywood;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input input[type='text'] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-input button {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #555;
}
#loader {
  display: none;
  padding: 20px;
  justify-content: center;
}
.fa-spinner {
  font-size: 24px;
}
