* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gamja Flower', cursive;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
  margin: 0 auto;

  @media (max-width: 1080px) and (min-width: 539px) {
    width: 50%;
  }
  @media (max-width: 540px) {
    width: 95%;
  }
}

#title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  white-space: nowrap;

  span:nth-child(1) {
    font-size: 1.8rem;
  }
  span:nth-child(2) {
    display: flex;
    align-items: center;
    img {
      width: 30px;
    }
  }
}

#date-form {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  #main__image {
    width: 100%;
    border-radius: 20px;
  }
  .dateForm__input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      gap: 10px;
      label {
        font-size: 1.2rem;
      }

      input {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #000;
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    background-color: rgb(186, 136, 142);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
  }

  @media (max-width: 540px) {
    .dateForm__input {
      flex-direction: column;
    }
  }
}

#chat {
  width: 100%;
  display: none;
  //display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
.chat-window {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  position: relative;
  .chat-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #444;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    z-index: 20;
  }
  .chat-messages {
    flex: 1;
    overflow: auto;
    border-bottom: 1px solid gray;
    background: rgb(186, 136, 142);
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      width: calc(100% - 20px);
      position: absolute;
      top: 0;
      left: 0;
      padding: 75px 10px 10px 10px;
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        padding: 10px;
        border-radius: 10px;
        background-color: yellow;
        width: fit-content;
        max-width: 250px;
        align-self: flex-end;

        &.answer {
          align-self: flex-start;
          display: flex;
          gap: 10px;
          background: none;

          p {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .chat-input {
    display: flex;
    padding: 10px;

    input[type='text'] {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
    }

    button {
      background-color: #444;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #555;
      }
    }
  }
}

#loader {
  display: flex;
  color: #fff;
  padding: 20px;
  justify-content: center;
  .fa-spinner {
    font-size: 24px;
  }
}

#dim {
  display: none;
  //display: flex;
  position: sticky;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  color: #fff;
  align-items: center;
  font-size: 1.3rem;
}

.ad-banner {
  width: 100%;
}

#kakao-share {
  width: 50px;
  height: 50px;
  position: fixed;
  border: none;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  background: url('../image/kakao.png') no-repeat center / cover;
}
