* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gamja Flower', cursive;
}

body::-webkit-scrollbar {
  display: none;
}
#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;

  @media (max-width: 1080px) {
    width: 50%;
  }
  @media (max-width: 540px) {
    min-width: calc(100vw - 30px);
  }
}

#title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  white-space: nowrap;

  span:nth-child(1) {
    font-size: 1.8rem;
  }
  span:nth-child(2) {
    display: flex;
    align-items: center;
    img {
      width: 30px;
    }
  }
}

#date-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  #main__image {
    width: 100%;
    border-radius: 20px;
  }
  .dateForm__input {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      gap: 10px;
      label {
        font-size: 1.2rem;
      }

      input {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #000;
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    background-color: rgb(186, 136, 142);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
  }
}

#chat {
  width: 100%;
  display: none;
  //display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
.chat-window {
  width: 100%;
  height: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .chat-header {
    background-color: #444;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    text-align: center;
  }
  .chat-messages {
    flex: 1;
    overflow: auto;
    border-bottom: 1px solid gray;
    background: rgb(186, 136, 142);
    position: relative;

    ul {
      width: calc(100% - 20px);
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        padding: 10px;
        border-radius: 10px;
        background-color: yellow;
        width: fit-content;
        max-width: 250px;
        align-self: flex-end;

        &.answer {
          align-self: flex-start;
          background: #fff;
        }
      }
    }
  }

  .chat-input {
    display: flex;
    padding: 10px;

    input[type='text'] {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
    }

    button {
      background-color: #444;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #555;
      }
    }
  }
}

#loader {
  display: flex;
  color: #fff;
  padding: 20px;
  justify-content: center;
  .fa-spinner {
    font-size: 24px;
  }
}

#dim {
  display: none;
  //display: flex;
  position: sticky;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  color: #fff;
  align-items: center;
  font-size: 1.3rem;
}

.ad-banner {
  width: 100%;
}
